<div class="tic-tac-toe" @fade-in>
  <h4 fxLayoutAlign="center">Tic Tac Toe</h4>
    <div class="row row{{i}}" fxLayout="row wrap" fxLayoutAlign="center" *ngFor="let row of blocks; let i = index;">
        <div class="col col{{j}}" fxLayout="column" fxFlex="10"
             fxFlex.xs="30"
             *ngFor="let col of row;  let j = index;" (click)="select(i, j)" fxLayoutAlign="center">
          <span class="cross" *ngIf="col === 'x'" @stretch>X</span>
          <span class="circle" *ngIf="col === 'o'" @stretch>O</span>
        </div>
    </div>
</div>

